<h1>COVID Data </h1>

<body>
<form method="get" action="covid_data/cases">
	<button>cases</button>
</form>
<form method="get" action="covid_data/deaths">
	<button>deaths</button>
</form>
<form method="get" action="covid_data/hospitalizations">
	<button>hospitalizations</button>
</form>
</body>
</body>a
