<h1>Labour Data </h1>

<body>
<form method="get" action="labour_data/employment">
	<button>employment</button>
</form>
<form method="get" action="labour_data/labourForce">
	<button>labourForce</button>
</form>
<form method="get" action="labour_data/unemployment">
	<button>unemployment</button>
</form>
</body>
</body>
